// body
.body {
  margin-top: calc(132 / 1680) * 100%;

  @include flexCol;

  &__header {
    padding-left: calc(80 / 1680) * 100%;
    padding-bottom: calc(30 / 1680) * 100%;

    max-width: 750px;

    @extend %primaryTitleText;
  }

  &__top {
    padding: 0 calc(80 / 1680) * 100%;
    margin-bottom: calc(108 / 1680) * 100%;
  }

  .item__title {
    margin-bottom: 24px;
  }

  .item__img {
    width: 50%;
    height: auto;
  }
}

.top {
  &__items {
    @include flexRow;
    flex-wrap: wrap;
  }

  &__item {
    position: relative;

    flex: 1 1 50%;

    margin: calc(30 / 1520) * 100% 0;
    padding-bottom: 40px;

    min-width: 400px;
  }

  .item__text {
    padding: 0 60px 32px 0;
  }

  .btn {
    position: absolute;
    bottom: 0;
    left: 0;

    width: 130px;
    height: 40px;
  }
}

.bot {
  &__item {
    padding: calc(80 / 1520) * 100%;

    @include flexRow;
    align-items: center;

    .item__wrap {
      margin-left: calc(80 / 1504) * 100%;
    }
  }

  &__item:nth-child(even) {
    flex-direction: row-reverse;
    background-color: $secondaryBg;

    .item__wrap {
      margin-left: 0;
      margin-right: calc(80 / 1504) * 100%;
    }
  }
}
