// hero
.hero {
  padding: 0 calc(80 / 1680) * 100%;

  @include flexCol;
  align-items: center;
  justify-content: flex-end;

  width: 100%;
  height: auto;

  background-image: url("/image/hero/hero-full-horizontal-video.svg");
  background-position: center;
  background-size: cover;

  &__title {
    margin-top: calc(632 / 1680) * 100%;
    margin-bottom: calc(40 / 1680) * 100%;

    @extend %primaryTitleText;
    font-size: 56px;
    text-align: center;
  }

  &__btn {
    margin-bottom: calc(128 / 1680) * 100%;

    width: 192px;
    height: 52px;

    font-size: 18px;
  }
}
