// signup
.signup {
  @include flexRow;
  align-items: center;

  padding: calc(120 / 1680) * 100% calc(80 / 1680) * 100%;

  background-color: $secondaryBg;

  &__title {
    width: calc(944 / 1520) * 100%;

    font-size: 36px;
  }

  &__items {
    @include flexRow;
    justify-content: space-evenly;

    width: calc(576 / 1520) * 100%;
  }

  &__item {
    width: calc(192 / 576) * 100%;
  }

  .btn {
    width: 100%;
    min-width: 120px;
    height: 52px;
  }
}
