// subhero 50/50
.subhero {
  @include flexRow;
  align-items: center;

  &__title,
  &__img {
    flex: 1 1 50%;
    padding: calc(80 / 1680) * 100%;
  }

  &__title {
    padding-right: calc(40 / 1680) * 100%;
  }

  &__img {
    padding-left: calc(40 / 1680) * 100%;
  }

  .text {
    @extend %primaryTitleText;
  }

  .img {
    width: 100%;
  }
}

// subhero 50/50 reverse
.subhero-reverse {
  @extend .subhero;
  flex-direction: row-reverse;

  .subhero__title,
  .subhero__img {
    padding: calc(80 / 1680) * 100%;
  }

  .subhero__title {
    padding-left: calc(40 / 1680) * 100%;
  }

  .subhero__img {
    padding-right: calc(40 / 1680) * 100%;
  }
}

// subhero full bg
.subhero__full-bg {
  padding-left: calc(80 / 1680) * 100%;

  @include flexRow;
  align-items: center;

  width: 100%;
  height: 27.5%;

  background-image: url("/image/subhero/subhero-full.svg");
  background-position: center;
  background-size: cover;

  .subhero__title {
    @extend %primaryTitleText;
    padding: 0;
    max-width: 688px;
  }
}

// subhero half bg
.subhero__half-bg {
  @include flexCol;

  .subhero__title {
    padding: calc(100 / 1680) * 100% calc(80 / 1680) * 100%;
  }

  .text {
    @extend %primaryTitleText;
    max-width: 688px;
  }

  .subhero__bg {
    padding-top: calc(440 / 1680) * 100%;
    width: 100%;

    background-image: url("/image/subhero/subhero-half-horizontal.svg");
    background-position: center;
    background-size: cover;
  }
}
