// general page styles
.wrapper {
  @include flexCol;
  width: 100%;

  @extend %mainText;
  background-color: $primaryBg;
}

html {
  scroll-behavior: smooth;
}

// main content
.content {
  flex: 1 1 auto;
}
