// color palette
$primaryWhite: #ffffff;
$primaryBlack: #11111d;
$secondaryBlack: #1d1b31;
$primaryGray: #e3e9f7;

// site colors
// bgs colors
$primaryBg: $primaryBlack;
$secondaryBg: $secondaryBlack;
$thirdlyBg: $primaryGray;

// fonts colors
$sidebarTextCol: $primaryWhite;
$sidebarTextColActive: $secondaryBlack;

// logo colors
$logoTextCol: $primaryWhite;
