// btns
.btn {
  @include flexRow;
  justify-content: center;
  align-items: center;

  color: $btnText;
  background-color: $btnBg;

  border: 1px solid $btnBorder;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;

  @include transitionActive;

  &:hover,
  &:focus {
    color: $btnTextActive;
    background-color: $btnBgActive;
  }
}
