// sidebar styles
.sidebar {
  // main sidebar styles
  position: fixed;
  top: 0;
  bottom: 0;

  grid-column: 1 / 2;
  grid-row: 1 / 2;

  @include flexCol;

  width: 280px;

  background-color: $primaryBg;
  @include transition;

  // sidebar header styles
  &__header {
    @include flexRow;
    justify-content: flex-end;

    margin: 20px;

    background-color: $secondaryBg;
    @include border-radius(8px);
  }

  &__arrow {
    position: relative;

    height: 40px;
    width: 40px;

    cursor: pointer;

    border: 2px solid $secondaryBg;
    @include border-radius(8px);
    @include transition;

    &::before,
    &::after {
      content: "";

      position: absolute;
      right: 10px;

      width: 16px;
      height: 2px;

      background-color: $logoTextCol;
      @include transition;
      @include border-radius(1px);
    }

    &::before {
      top: 12px;
      @include transformRotate(-225deg);
    }

    &::after {
      bottom: 12px;
      @include transformRotate(225deg);
    }

    &:focus,
    &:hover {
      border: 2px solid $logoTextCol;
    }
  }

  // sidebar menu styles
  &__menu {
    flex: 1 1 auto;

    padding: 0px 20px;
  }

  &__item {
    position: relative;

    margin: 20px 16px;
    height: 40px;

    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.015em;

    background-color: $secondaryBg;
    @include border-radius(8px);

    overflow: hidden;
    cursor: pointer;
    @include transition;

    .sidebar__text {
      position: absolute;
      top: 10px;
      left: 40px;
    }

    .sidebar__img {
      position: absolute;
      top: 6px;
      left: 6px;
    }

    &.active,
    &:hover,
    &:focus {
      color: $secondaryBlack;
      background-color: $primaryGray;
    }
  }

  &__text {
    opacity: 1;
    @include transitionOpacity;
  }

  // sidebar footer styles
  &__footer {
    margin: 20px;

    height: 40px;

    background-color: $secondaryBg;
    @include border-radius(8px);
  }

  &__link {
    position: relative;

    @include flexRow;

    width: 100%;
    height: 100%;

    font-size: 24px;
    font-weight: 700;
    color: inherit;

    border: 2px solid $secondaryBg;
    @include border-radius(8px);

    overflow: hidden;
    @include transition;

    .sidebar__text,
    .sidebar__img {
      @include transition;
    }

    .sidebar__text {
      position: absolute;
      top: 6px;
      left: 88px;
    }

    .sidebar__img {
      position: absolute;
      top: 2px;
      left: 48px;
    }

    &:focus,
    &:hover {
      border-color: $logoTextCol;
    }
  }

  // hidden styles
  &.hidden {
    width: 80px;

    .sidebar__text {
      opacity: 0;
    }

    .sidebar__arrow::before {
      @include transformRotate(45deg);
    }

    .sidebar__arrow::after {
      @include transformRotate(-45deg);
    }

    .sidebar__link {
      left: 0px;

      .sidebar__text {
        left: 40px;
      }

      .sidebar__img {
        left: 2px;
      }
    }

    .sidebar__item {
      margin: 20px 0;
    }
  }
}

@media (max-width: 512px) {
  .sidebar {
    width: 220px;

    &__header {
      margin: 20px 10px;
    }

    &__menu {
      padding: 0px 10px;
    }

    &__item {
      margin: 20px 8px;
      font-size: 16px;

      .sidebar__text {
        top: 12px;
      }
    }

    &__footer {
      margin: 20px 10px;
    }

    &__link {
      font-size: 20px;

      .sidebar__text {
        top: 7px;
        left: 72px;
      }

      .sidebar__img {
        left: 32px;
      }
    }

    // hidden styles
    &.hidden {
      width: 60px;
    }
  }
}
