// sidebar styles
.sidebar {
  flex: 25%;

  @include flexCol;

  min-width: 220px;
  max-width: 280px;

  background-color: $primaryBg;

  &__header {
    @include flexRow;
    justify-content: space-between;

    padding: 20px;
  }

  &__menu {
    flex: 1 1 auto;
  }

  &__footer {
    @include flexRow;
    justify-content: center;
    align-items: center;

    padding: 20px 0;
  }
}

.header {
  &__logo {
  }

  &__arrow {
    position: relative;
    align-self: flex-end;

    height: 28px;
    width: 20px;
    
    cursor: pointer;

    &::before,
    &::after {
      content: "";

      position: absolute;
      right: 0;

      width: 16px;
      height: 2px;

      background-color: $logoTextCol;
    }

    &::before {
      top: 8px;
      @include transformRotate(-45deg);
    }

    &::after {
      bottom: 8px;
      @include transformRotate(45deg);
    }
  }
}

.logo {
  height: 40px;

  &__text {
    @include flexRow;
    align-items: flex-end;

    padding-left: 48px;

    height: 100%;

    font-size: 24px;
    font-weight: 700;

    color: inherit;
    background: url(../../images/kottans-logo.png) left center / 40px 40px no-repeat;
  }
}

.menu {
  &__item {
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.015em;
  }
}

.footer {
  background-color: $secondaryBg;

  &__text {
    font-size: 16px;
  }
}
