// general styles
.wrap {
  display: grid;
  grid-template: 1fr / 280px 1fr;

  width: 100%;

  @extend %mainText;
  background: $thirdlyBg;

  @include transition;

  &.hidden {
    grid-template: 1fr / 80px 1fr;
  }
}
