// reset styles
@import "base/reset";

// helpers styles
@import "helpers/variables";
@import "helpers/mixins";

// base styles
@import "base/typography";

// components styles
@import "components/logo";
@import "components/navigation";
@import "components/items";
@import "components/buttons";

// layout styles
@import "layout/wrapper";
@import "layout/header";
@import "layout/hero";
@import "layout/subhero";
@import "layout/body";
@import "layout/testimonials";
@import "layout/signup";
@import "layout/footer";

// ----------------------------------------------------------
// header
.header {
  padding: 0 calc(80 / 1680) * 100%;

  display: flex;
  flex-direction: row;

  width: 100%;
  min-height: 60px;

  &__logo {
    width: calc((122 + 72) / 1520) * 100%;
    height: 60px;
  }

  &__nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    width: calc((1520 - 122 - 72) / 1520) * 100%;
    height: 60px;
  }
}

// navbar
.nav {
  &__items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .links {
    width: calc(388 / 1328) * 100%;
  }

  .btns {
    width: calc(272 / 1328) * 100%;
  }

  &__item {
    font-weight: 500;
    font-size: 15px;
    line-height: 1.2;
  }
}

// nac links
.link-header {
  color: $headerLink;
}

.link-header:hover,
.link-header:focus {
  color: $headerLinkActive;
}

.btn-header {
  height: 40px;
}

.btns {
  & .nav__item {
    width: calc(130 / 272) * 100%;
  }
}

// nac links, btns, logo active
.link {
  -webkit-transition: all 0.1s ease-in;
  -moz-transition: all 0.1s ease-in;
  -ms-transition: all 0.1s ease-in;
  -o-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
}

// ----------------------------------------------------------
// body
.body {
}

.body__header {
}

.body__top {
}

.top {
}

.top__items {
}

.top__item {
}

.item {
}

.item__title {
}

.item__text {
}

.item__link {
}

.body__bot {
}

.bot {
}

.bot__items {
}

.bot__item {
}

.item__img {
}

.item__wrap {
}

.sub-page {
}

.sub-page__header {
}

.sub-page__img {
}

.testimonials {
}

.testimonials__title {
}

.testimonials__text {
}

.testimonials__items {
}

.testimonials__item {
}

.signup {
}

.signup__title {
}

.signup__items {
}

.signup__item {
}

.btn__signup {
}

.footer {
}

.footer__nav {
}

.nav__other {
}

.link__footer {
}

.footer__logo {
}

.nav__social {
}

.link__img {
}

.nav__text {
}
