// reset styles
@import "_reset";

// fonts
@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Montserrat:wght@400;500;700&display=swap');
$font: 'Montserrat', sans-serif;

// colors
// backgrounds
$firstPageBg: #FFFFFF;
$secondPageBg: #F5F5F5;
$btnBg:#FFFFFF;
$btnBgHoverFocus: #18A0FB;
$btnBgActive: #a1a1a1;
// fonts
$titleCol: #000000;
$textCol: rgba(0, 0, 0, 0.8);
$btnTextCol: #18A0FB;
$btnTextHoverFocusCol: #FFFFFF;
$headerLinkCol: #18A0FB;
// lines
$lineCol: rgba(0, 0, 0, 0.5);

// general styles
.wrapper {
  display: flex;
  flex-direction: column;

  width: 100%;

  font-family: $font;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.667;

  color: $textCol;
  background-color: $firstPageBg;
}

.header {}

.header__logo {}

.logo {}

.logo__icon {}

.logo__text {}

.header__nav {}

.nav {}

.nav__items {}

.nav__item {}

.link {}

.link__header {}

.btn {}

.btn__header {}

.content {
  flex: 1 1 auto;
}

.content__hero {}

.hero {}

.hero__title {}

.hero__btn {}

.content__body {}

.body {}

.body__header {}

.body__top {}

.top {}

.top__items {}

.top__item {}

.item {}

.item__title {}

.item__text {}

.item__link {}

.body__bot {}

.bot {}

.bot__items {}

.bot__item {}

.item__img {}

.item__wrap {}

.content__sub-page {}

.sub-page {}

.sub-page__header {}

.sub-page__img {}

.content__testimonials {}

.testimonials {}

.testimonials__title {}

.testimonials__text {}

.testimonials__items {}

.testimonials__item {}

.content__signup {}

.signup {}

.signup__title {}

.signup__items {}

.signup__item {}

.btn__signup {}

.footer {}

.footer__nav {}

.nav__other {}

.link__footer {}

.footer__logo {}

.nav__social {}

.link__img {}

.nav__text {}