// reset styles
@import "base/reset";

// helpers styles
@import "helpers/mixins";
@import "helpers/variables";

// base styles
@import "base/typography";

// components styles
@import "components/navigation";
@import "components/items";
@import "components/buttons";

// layout styles
@import "layout/header";
@import "layout/hero";
@import "layout/subhero";
@import "layout/body";
@import "layout/testimonials";
@import "layout/signup";
@import "layout/footer";

// fonts
@import url("https://fonts.googleapis.com/css2?family=Comfortaa&family=Montserrat:wght@400;500;700&display=swap");
$fontComfortaa: "Comfortaa", cursive;
$fontMontserrat: "Montserrat", sans-serif;

// colors
// backgrounds
$firstPageBg: #ffffff;
$secondPageBg: #f5f5f5;
$btnBg: #ffffff;
$btnBgHoverFocus: #18a0fb;
$btnBgActive: #a1a1a1;
// fonts
$titleCol: #000000;
$textCol: rgba(0, 0, 0, 0.8);
$btnTextCol: #18a0fb;
$btnTextHoverFocusCol: #ffffff;
$headerLinkCol: #18a0fb;
// lines
$lineCol: rgba(0, 0, 0, 0.5);

// ----------------------------------------------------------
// general page
// general styles
.wrapper {
  display: flex;
  flex-direction: column;

  width: 100%;

  font-family: $fontMontserrat;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.667;
  letter-spacing: -0.015em;

  color: $textCol;
  background-color: $firstPageBg;
}

// ----------------------------------------------------------
// header
.header {
  padding: 0 (80 / 1680 * 100%);

  display: flex;
  flex-direction: row;

  width: 100%;
  min-height: 60px;

  &__logo {
    width: (122 + 72) / 1520 * 100%;
    height: 60px;
  }

  &__nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    width: (1520 - 122 - 72) / 1520 * 100%;
    height: 60px;
  }
}

// logo
.logo {
  display: flex;
  align-items: center;

  &__icon {
    flex: 0 0 24px;
    margin-right: 8px;
  }

  &__text {
    font-family: $fontComfortaa;
    font-size: 28px;
    line-height: 32 / 28 * 1;
    color: $titleCol;
  }

  &__text:hover,
  &__text:focus {
    color: $lineCol;
  }
}

// navbar
.nav {
  &__items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .links {
    width: 388 / 1328 * 100%;
  }

  .btns {
    width: 272 / 1328 * 100%;
  }

  &__item {
    font-weight: 500;
    font-size: 15px;
    line-height: 1.2;
  }
}

// nac links
.link-header {
  color: $headerLinkCol;
}

.link-header:hover,
.link-header:focus {
  color: $textCol;
}

// nav btns
.btn {
  display: flex;
  justify-content: center;
  align-items: center;

  color: $btnTextCol;

  background-color: $btnBg;

  border: 1px solid $btnBgHoverFocus;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
}

.btn-header {
  height: 40px;
}

.btn:hover,
.btn:focus {
  color: $btnTextHoverFocusCol;
  background-color: $btnBgHoverFocus;
}

.btns {
  & .nav__item {
    width: 130 / 272 * 100%;
  }
}

// nac links, btns, logo active
.link,
.btn,
.logo__text {
  -webkit-transition: all 0.1s ease-in;
  -moz-transition: all 0.1s ease-in;
  -ms-transition: all 0.1s ease-in;
  -o-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
}

// ----------------------------------------------------------
// main content
.content {
  flex: 1 1 auto;

  &__hero {
    width: 100%;
    height: 930px;
  }

  &__body {
  }
}

// ----------------------------------------------------------
// hero
.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;

  background-image: url("../image/hero/hero-img.svg");
  background-position: center;
  background-size: cover;

  &__title {
    margin-bottom: 40px;

    font-size: 56px;
    line-height: 80 / 56 * 1;
    text-align: center;
    color: $titleCol;
  }

  &__btn {
    margin-bottom: 128px;

    width: 192px;
    height: 52px;
  }
}

// ----------------------------------------------------------
// body
.body {
}

.body__header {
}

.body__top {
}

.top {
}

.top__items {
}

.top__item {
}

.item {
}

.item__title {
}

.item__text {
}

.item__link {
}

.body__bot {
}

.bot {
}

.bot__items {
}

.bot__item {
}

.item__img {
}

.item__wrap {
}

.content__sub-page {
}

.sub-page {
}

.sub-page__header {
}

.sub-page__img {
}

.content__testimonials {
}

.testimonials {
}

.testimonials__title {
}

.testimonials__text {
}

.testimonials__items {
}

.testimonials__item {
}

.content__signup {
}

.signup {
}

.signup__title {
}

.signup__items {
}

.signup__item {
}

.btn__signup {
}

.footer {
}

.footer__nav {
}

.nav__other {
}

.link__footer {
}

.footer__logo {
}

.nav__social {
}

.link__img {
}

.nav__text {
}
