/* roots */
:root {
  /* fonts */
  --font-family: 'Poppins', sans-serif;

  /* colors */
  /* logo */
  --primary-logo: #000000;
  --secondary-logo: #939393;

  /* fonts */
  --primary-text: #8F95A5;
  --secondary-text: #263238;
  --bottoms-text: #FFFFFF;
  --text-active: #939393;
  --numbers: #2A3246;
  --per-month: #546269;

  /* backgrounds */
  --body-bg: #FFFFFF;
  --bottoms-bg: #263238;
  --cards-bg: #F5F5F5;
  --prices-bg: #EEEEEE;
  --burger-bg: rgba(7, 34, 47, 0.7);

  /* other */
  --email-form: #8F95A5;
  --footer-line: #C4C4C4;
  --burger-line: #39515E;
}

/* -------------------------------------------------------------- */
/* main styles */
html {
  scroll-behavior: smooth;
}

.wrapper {
  padding: calc(0.03375 * 100vw) 8.188%;

  width: 100%;

  font-family: var(--font-family);
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 0.03em;

  color: var(--primary-text);
  background-color: var(--body-bg);

  display: grid;
  min-height: 100vh;
  grid-template: 70px 1fr 100px / 1fr;
  grid-template-areas:
    "header"
    "main"
    "footer";
}

@media (max-width: 1280px) {
  .wrapper {
    padding: calc(0.02822 * 100vw) 3.226%;

    grid-template: 50px 1fr 72px / 1fr;
    grid-template-areas:
      "header"
      "main"
      "footer";
  }
}

@media (max-width: 320px) {
  .wrapper {
    padding: 32px 16px 48px;

    grid-template: 40px 1fr 96px / 1fr;
    grid-template-areas:
      "header"
      "main"
      "footer";
  }
}

/* -------------------------------------------------------------- */
/* header */
.header {
  grid-area: header;

  display: grid;
  grid-template: 70px / 106px minmax(17.638%, auto) 1fr;
  align-items: center;
}

@media (max-width: 1280px) {
  .header {
    grid-template: 50px / 90px minmax(17.638%, auto) 1fr;
  }
}

@media (max-width: 320px) {
  .header {
    grid-template: 40px / 75px minmax(17.638%, auto) 1fr;
  }
}

/* logo  */
.logo {
  grid-column: 1 / 2;

  font-size: 36px;
  color: var(--primary-logo);
}

@media (max-width: 1280px) {
  .logo {
    font-size: 30px;
  }
}

@media (max-width: 320px) {
  .logo {
    font-size: 24px;
  }
}

.secondary {
  color: var(--secondary-logo);
}

/* nav top */
.nav {
  grid-column: 3 / 4;

  height: 100%;

  display: grid;
  grid-template: 1fr / minmax(56.425%, auto) minmax(12.048%, auto) minmax(160px, 312px);
  align-items: center;
}

/* menu */
.nav__items {
  grid-column: 1 / 2;

  display: grid;
  grid-template: 1fr / repeat(5, auto);
  justify-content: space-between;
}

.nav__link {
  font-weight: 500;
  color: var(--secondary-text);

  transition: all 0.15s linear 0s;
}

@media (max-width: 1440px) {
  .nav__link {
    font-size: 18px;
  }
}

@media (max-width: 1280px) {
  .nav__link {
    font-size: 16px;
  }
}

.nav__link:hover,
.nav__link:focus {
  color: var(--secondary-logo);
}

.nav__link:active {
  color: var(--secondary-text);
}

/* tel */
.tel__link {
  grid-column: 3 / 4;

  width: 100%;
  height: 100%;

  display: grid;
  grid-template: 1fr / 1fr;
  align-items: center;

  text-align: center;
  color: var(--primary-logo);

  border: 2px solid var(--bottoms-bg);
  border-radius: 10px;

  transition: all 0.15s linear 0s;
}

@media (max-width: 1280px) {
  .tel__link {
    font-size: 18px;
    border-radius: 5px;
  }
}

.tel__link:hover,
.tel__link:focus {
  background-color: var(--bottoms-bg);
  color: var(--bottoms-text);
}

.tel__link:active {
  background-color: var(--secondary-logo);
  border-color: var(--secondary-logo);
}

/* burger */
.burger,
.burger__box,
.nav .logo,
.close__btn {
  display: none;
}

@media (max-width: 992px) {
  body.lock {
    overflow: hidden;
  }

  .header {
    grid-template: 50px / 90px 1fr;
  }

  .burger__box {
    grid-column: 2 / 3;

    width: 100%;
    height: 100%;

    display: grid;
    grid-template: 1fr / 1fr;
    align-items: center;
    justify-items: end;
  }

  .burger__box .burger {
    display: grid;
    grid-template: 1fr / 1fr;
    align-items: center;

    position: relative;
    width: 30px;
    height: 19px;
    z-index: 100;

    cursor: pointer;
  }

  .burger::before,
  .burger::after {
    content: '';
    left: 0;
    position: absolute;

    height: 3px;

    background-color: var(--burger-line);
    border-radius: 1px;

    transition: all 0.15s ease 0s;
  }

  .burger::before {
    top: 0;
    width: 100%;
  }

  .burger::after {
    bottom: 0;
    width: 70%;
  }

  .burger__line {
    position: absolute;
    left: 0;

    width: 100%;
    height: 3px;

    background-color: var(--burger-line);
    border-radius: 1px;
  }

  .burger:hover::before,
  .burger:hover::after {
    background-color: var(--secondary-logo);
  }

  .burger.active {
    z-index: 0;
  }

  .header .nav {
    padding: 40px 0 0 40px;

    display: grid;
    grid-template: 65px 392px 60px / 340px 20px 1fr;
    align-items: start;

    position: fixed;
    top: 0;
    left: -100%;

    width: 100%;
    height: 100%;

    background: url('./images/burger-bg.png') left repeat-y, var(--burger-bg);

    z-index: 10;
    overflow: auto;

    transition: all 0.2s linear 0s;
  }

  .header .nav.active {
    left: 0;
  }

  .nav .logo {
    grid-column: 1 / 2;

    display: inline-block;
  }

  .close__btn {
    grid-column: 2 / 3;
    grid-row: 1 / 2;

    display: inline-block;

    position: relative;
    width: 20px;
    height: 20px;

    cursor: pointer;
  }

  .close__btn::before,
  .close__btn::after {
    content: '';
    left: 0;
    position: absolute;

    width: 100%;
    height: 2px;

    background-color: var(--burger-line);
    border-radius: 1px;

    transition: all 0.15s ease 0s;
  }

  .close__btn::before {
    top: 9px;
    transform: rotate(45deg);
  }

  .close__btn::after {
    bottom: 9px;
    transform: rotate(-45deg);
  }

  .close__btn:hover::before,
  .close__btn:hover::after {
    background-color: var(--secondary-logo);
  }

  .header .nav__items {
    grid-column: 1 / 3;
    grid-row: 2 / 3;

    display: block;
    padding: 32px 0 60px 0;

    border-top: 1px solid var(--footer-line);
  }

  .header .nav__item {
    height: 60px;
  }

  .header .nav__link {
    font-size: 22px;
  }

  .header .tel__link {
    grid-column: 1 / 3;
    grid-row: 3 / 4;

    width: 210px;
    height: 100%;
  }
}

/* -------------------------------------------------------------- */
/* content */
.main {
  grid-area: main;

  height: 1000px;
}

/* hero */

/* skills */

/* about */

/* cricing */

/* contact */

/* -------------------------------------------------------------- */
/* footer */
.footer {
  grid-area: footer;

  display: grid;
  grid-template: 100px / 106px 1fr 57.4%;
  align-items: center;

  border-top: 1px solid var(--footer-line);
}

@media (max-width: 1280px) {
  .footer {
    grid-template: 72px / 90px 1fr 57.4%;
  }
}

@media (max-width: 320px) {
  .footer {
    grid-template: 76px 20px / 1fr;
    justify-items: center;
    align-items: center;
  }

  .footer .logo {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
}

.footer .nav {
  grid-template: 1fr / 1fr;
}

@media (max-width: 320px) {
  .footer .nav {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }
}

/* nav bot */
.footer .nav__items {
  grid-template: 1fr / repeat(3, auto);
}

.nav__link.bottom {
  font-size: 24px;
  letter-spacing: 0.02em;
  color: inherit;
}

@media (max-width: 1400px) {
  .nav__link.bottom {
    font-size: 20px;
  }
}

@media (max-width: 1100px) {
  .nav__link.bottom {
    font-size: 16px;
  }
}

/* @media (max-width: 992px) {
  .footer .nav__items {
    justify-content: end;
  }

  .nav__link.bottom {
    font-size: 16px;
  }

  .nav__link.point::after {
    content: '•';
  }
} */

/* @media (max-width: 768px) {
  .nav__link.bottom {
    font-size: 13px;
  }
}

@media (max-width: 575px) {
  .nav__link.bottom {
    font-size: 12px;
  }
} */

@media (max-width: 320px) {
  .nav__link.bottom {
    font-size: 10px;
  }

  .nav__link.point::after {
    content: '•';
    display: inline-block;
    margin: 0 2px;
  }
}

.nav__link.bottom:hover,
.nav__link.bottom:focus {
  color: var(--primary-logo);
}

.nav__link.bottom:active {
  color: var(--secondary-text);
}