/* roots */
:root {
  /* fonts */
  --font-family: 'Poppins', sans-serif;

  /* colors */
  /* logo */
  --primary-logo: #000000;
  --secondary-logo: #939393;

  /* fonts */
  --primary-text: #8F95A5;
  --secondary-text: #263238;
  --bottoms-text: #FFFFFF;
  --text-active: #939393;
  --numbers: #2A3246;
  --per-month: #546269;

  /* backgrounds */
  --body-bg: #FFFFFF;
  --bottoms-bg: #263238;
  --cards-bg: #F5F5F5;
  --prices-bg: #EEEEEE;
  --burger-bg: rgba(7, 34, 47, 0.7);

  /* other */
  --email-form: #8F95A5;
  --footer-line: #C4C4C4;
  --burger-line: #39515E;
}

/* -------------------------------------------------------------- */
/* main styles */
html {
  scroll-behavior: smooth;
}

.wrapper {
  padding: calc(0.03375 * 100vw) 8.188%;

  width: 100%;

  font-family: var(--font-family);
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 0.03em;

  color: var(--primary-text);
  background-color: var(--body-bg);

  display: grid;
  min-height: 100vh;
  grid-template: 70px 1fr 100px / 1fr;
  grid-template-areas:
    "header"
    "main"
    "footer";
}

@media (max-width: 1280px) {
  .wrapper {
    grid-template: 50px 1fr 90px / 1fr;
    grid-template-areas:
      "header"
      "main"
      "footer";
  }
}

@media (max-width: 992px) {
  .wrapper {
    padding: 28px 32px 24px;

    grid-template: 50px 1fr 68px / 1fr;
    grid-template-areas:
      "header"
      "main"
      "footer";
  }
}

@media (max-width: 768px) {
  .wrapper {
    padding: 32px 40px 24px;
  }
}

@media (max-width: 585px) {
  .wrapper {
    padding: 32px 32px 24px;
  }
}

@media (max-width: 520px) {
  .wrapper {
    padding: 36px 16px 48px;

    grid-template: 40px 1fr 96px / 1fr;
    grid-template-areas:
      "header"
      "main"
      "footer";
  }
}

/* -------------------------------------------------------------- */
/* header */
.header {
  grid-area: header;

  display: grid;
  grid-template: 70px / 106px minmax(17.638%, auto) 1fr;
  align-items: center;
}

@media (max-width: 1280px) {
  .header {
    grid-template: 50px / 90px minmax(17.638%, auto) 1fr;
  }
}

@media (max-width: 520px) {
  .header {
    grid-template: 40px / 75px minmax(17.638%, auto) 1fr;
  }
}

/* logo  */
.logo {
  grid-column: 1 / 2;

  font-size: 36px;
  color: var(--primary-logo);
}

@media (max-width: 1280px) {
  .logo {
    font-size: 30px;
  }
}

@media (max-width: 520px) {
  .logo {
    font-size: 24px;
  }
}

.secondary {
  color: var(--secondary-logo);
}

/* nav top */
.nav {
  grid-column: 3 / 4;

  height: 100%;

  display: grid;
  grid-template: 1fr / minmax(56.425%, auto) minmax(12.048%, auto) minmax(160px, 312px);
  align-items: center;
}

@media (max-width: 1280px) {
  .header .nav {
    grid-template: 1fr / minmax(56.425%, auto) minmax(12.048%, auto) 160px;
  }
}

/* menu */
.nav__items {
  grid-column: 1 / 2;

  display: grid;
  grid-template: 1fr / repeat(5, auto);
  justify-content: space-between;
}

.nav__link {
  font-weight: 500;
  color: var(--secondary-text);

  transition: all 0.15s linear 0s;
}

@media (max-width: 1440px) {
  .nav__link {
    font-size: 18px;
  }
}

@media (max-width: 1280px) {
  .nav__link {
    font-size: 16px;
  }
}

.nav__link:hover,
.nav__link:focus {
  color: var(--secondary-logo);
}

.nav__link:active {
  color: var(--secondary-text);
}

/* tel */
.tel__link {
  grid-column: 3 / 4;

  width: 100%;
  height: 100%;

  display: grid;
  grid-template: 1fr / 1fr;
  align-items: center;

  text-align: center;
  color: var(--primary-logo);

  border: 2px solid var(--bottoms-bg);
  border-radius: 10px;

  transition: all 0.15s linear 0s;
}

@media (max-width: 1280px) {
  .tel__link {
    font-size: 18px;
    border-radius: 5px;
  }
}

.tel__link:hover,
.tel__link:focus {
  background-color: var(--bottoms-bg);
  color: var(--bottoms-text);
}

.tel__link:active {
  background-color: var(--secondary-logo);
  border-color: var(--secondary-logo);
}

/* burger */
.burger,
.burger__box,
.nav .logo,
.close__btn {
  display: none;
}

@media (max-width: 900px) {
  body.lock {
    overflow: hidden;
  }

  .header {
    grid-template: 50px / 90px 1fr;
  }

  .burger__box {
    grid-column: 2 / 3;

    width: 100%;
    height: 100%;

    display: grid;
    grid-template: 1fr / 1fr;
    align-items: center;
    justify-items: end;
  }

  .burger__box .burger {
    display: grid;
    grid-template: 1fr / 1fr;
    align-items: center;

    position: relative;
    width: 30px;
    height: 19px;
    z-index: 100;

    cursor: pointer;
  }

  .burger::before,
  .burger::after {
    content: '';
    left: 0;
    position: absolute;

    height: 3px;

    background-color: var(--burger-line);
    border-radius: 1px;

    transition: all 0.15s ease 0s;
  }

  .burger::before {
    top: 0;
    width: 100%;
  }

  .burger::after {
    bottom: 0;
    width: 70%;
  }

  .burger__line {
    position: absolute;
    left: 0;

    width: 100%;
    height: 3px;

    background-color: var(--burger-line);
    border-radius: 1px;
  }

  .burger:hover::before,
  .burger:hover::after {
    background-color: var(--secondary-logo);
  }

  .burger.active {
    z-index: 0;
  }

  .header .nav {
    padding: 40px 0 0 40px;

    display: grid;
    grid-template: 65px 392px 60px / 340px 20px 1fr;
    align-items: start;

    position: fixed;
    top: 0;
    left: -100%;

    width: 100%;
    height: 100%;

    background: url('./images/burger-bg.png') left repeat-y, var(--burger-bg);

    z-index: 10;
    overflow: auto;

    transition: all 0.2s linear 0s;
  }

  .header .nav.active {
    left: 0;
  }

  .nav .logo {
    grid-column: 1 / 2;

    display: inline-block;
  }

  .close__btn {
    grid-column: 2 / 3;
    grid-row: 1 / 2;

    display: inline-block;

    position: relative;
    width: 20px;
    height: 20px;

    cursor: pointer;
  }

  .close__btn::before,
  .close__btn::after {
    content: '';
    left: 0;
    position: absolute;

    width: 100%;
    height: 2px;

    background-color: var(--burger-line);
    border-radius: 1px;

    transition: all 0.15s ease 0s;
  }

  .close__btn::before {
    top: 9px;
    transform: rotate(45deg);
  }

  .close__btn::after {
    bottom: 9px;
    transform: rotate(-45deg);
  }

  .close__btn:hover::before,
  .close__btn:hover::after {
    background-color: var(--secondary-logo);
  }

  .header .nav__items {
    grid-column: 1 / 3;
    grid-row: 2 / 3;

    display: block;
    padding: 32px 0 60px 0;

    border-top: 1px solid var(--footer-line);
  }

  .header .nav__item {
    height: 60px;
  }

  .header .nav__link {
    font-size: 22px;
  }

  .header .tel__link {
    grid-column: 1 / 3;
    grid-row: 3 / 4;

    width: 210px;
    height: 100%;
  }
}

@media (max-width: 585px) {
  .header .nav {
    padding: 32px 32px 0;

    grid-template: 65px 420px 70px / 1fr 20px;

    background: var(--body-bg);
  }

  .header .nav__item {
    height: 65px;
  }

  .header .nav__link {
    font-size: 24px;
  }

  .header .tel__link {
    font-size: 22px;

    width: 330px;
    height: 100%;
  }
}

@media (max-width: 520px) {
  .header {
    grid-template: 40px / 90px 1fr;
  }
}

@media (max-width: 420px) {
  .header .nav {
    padding: 20px 16px 0;

    grid-template: 65px 420px 62px / 1fr 20px;

    background: var(--body-bg);
  }

  .header .nav__item {
    height: 65px;
  }

  .header .nav__link {
    font-size: 22px;
  }

  .header .tel__link {
    font-size: 20px;

    width: 260px;
    height: 100%;
  }
}

/* -------------------------------------------------------------- */
/* content */
.main {
  grid-area: main;
  padding-top: 56px;
}

@media (max-width: 992px) {
  .main {
    padding-top: 80px;
  }
}

@media (max-width: 768px) {
  .main {
    padding-top: 68px;
  }
}

@media (max-width: 585px) {
  .main {
    padding-top: 86px;
  }
}

/* -------------------------------------------------------------- */
/* hero */
.hero {
  position: relative;

  padding-bottom: 80px;
  width: 100%;
  max-height: 612px;

  display: grid;
  grid-template: 280px 168px 1fr / 30% 10.5% 1fr;
}

@media (max-width: 1580px) {
  .hero {
    grid-template: 262px 156px 1fr / 30% 10.5% 1fr;
  }
}

@media (max-width: 1480px) {
  .hero {
    grid-template: 244px 144px 1fr / 30% 10.5% 1fr;
  }
}

@media (max-width: 1380px) {
  .hero {
    grid-template: 226px 132px 1fr / 30% 10.5% 1fr;
  }
}

@media (max-width: 1320px) {
  .hero {
    grid-template: 208px 120px 1fr / 30% 10.5% 1fr;
  }
}

@media (max-width: 1200px) {
  .hero {
    grid-template: 190px 108px 1fr / 30% 10.5% 1fr;
  }
}

@media (max-width: 1100px) {
  .hero {
    grid-template: 174px 98px 1fr / 30% 10.5% 1fr;
  }
}

@media (max-width: 992px) {
  .hero {
    padding-bottom: 48px;
  }
}

@media (max-width: 900px) {
  .hero {
    grid-template: 156px 86px 1fr / 30% 10.5% 1fr;
  }
}

@media (max-width: 810px) {
  .hero {
    grid-template: 144px 76px 1fr / 30% 10.5% 1fr;
  }
}

@media (max-width: 768px) {
  .hero {
    padding-bottom: 56px;
    grid-template: 144px 76px 1fr / 33% 15% 2% 50%;
  }
}

@media (max-width: 724px) {
  .hero {
    grid-template: 126px 76px 1fr / 33% 15% 2% 50%;
  }
}

@media (max-width: 654px) {
  .hero {
    grid-template: 104px 62px 1fr / 30% 18% 2% 50%;
  }
}

@media (max-width: 585px) {
  .hero {
    margin-bottom: 60px;
    grid-template: 1fr 1fr 1fr 76px / 1fr;
    justify-items: center;

    max-height: auto;
  }
}

.hero__header {
  grid-column: 1 / 2;
  grid-row: 1 / 2;

  font-weight: 600;
  font-size: 64px;
  line-height: 1.25;
  color: var(--primary-logo);
}

@media (max-width: 1580px) {
  .hero__header {
    font-size: 58px;
  }
}

@media (max-width: 1480px) {
  .hero__header {
    font-size: 54px;
  }
}

@media (max-width: 1380px) {
  .hero__header {
    font-size: 50px;
  }
}

@media (max-width: 1320px) {
  .hero__header {
    font-size: 46px;
  }
}

@media (max-width: 1280px) {
  .hero__header {
    font-size: 44px;
  }
}

@media (max-width: 1200px) {
  .hero__header {
    font-size: 42px;
  }
}

@media (max-width: 1100px) {
  .hero__header {
    font-size: 40px;
  }
}

@media (max-width: 1050px) {
  .hero__header {
    font-size: 38px;
  }
}

@media (max-width: 900px) {
  .hero__header {
    font-size: 36px;
  }
}

@media (max-width: 860px) {
  .hero__header {
    font-size: 34px;
  }
}

@media (max-width: 810px) {
  .hero__header {
    font-size: 32px;
  }
}

@media (max-width: 724px) {
  .hero__header {
    font-size: 28px;
  }
}

@media (max-width: 654px) {
  .hero__header {
    font-size: 22px;
  }
}

@media (max-width: 585px) {
  .hero__header {
    grid-column: 1 / 2;
    grid-row: 2 / 3;

    margin-bottom: 24px;

    font-size: 34px;

    text-align: center;
  }

  .hero br {
    display: none;
  }
}

.hero__lamp {
  grid-column: 2 / 3;
  grid-row: 1 / 2;

  position: absolute;
  top: 36%;
  left: 0;
  width: 80%;
  height: auto;
}

@media (max-width: 768px) {
  .hero__lamp {
    top: 42%;
    width: 66%;
  }
}

@media (max-width: 654px) {
  .hero__lamp {
    top: 42%;
    width: 56%;
  }
}

@media (max-width: 585px) {
  .hero__lamp {
    display: none;
  }
}

.hero__text {
  grid-column: 1 / 3;
  grid-row: 2 / 3;

  font-size: 24px;
}

@media (max-width: 1580px) {
  .hero__text {
    font-size: 22px;
  }
}

@media (max-width: 1480px) {
  .hero__text {
    font-size: 20px;
  }
}

@media (max-width: 1320px) {
  .hero__text {
    font-size: 18px;
  }
}

@media (max-width: 1200px) {
  .hero__text {
    font-size: 16px;
  }
}

@media (max-width: 1100px) {
  .hero__text {
    font-size: 15px;
  }
}

@media (max-width: 900px) {
  .hero__text {
    font-size: 14px;
  }
}

@media (max-width: 860px) {
  .hero__text {
    font-size: 13px;
  }
}

@media (max-width: 810px) {
  .hero__text {
    font-size: 12px;
  }
}

@media (max-width: 654px) {
  .hero__text {
    font-size: 10px;
  }
}

@media (max-width: 585px) {
  .hero__text {
    grid-column: 1 / 2;
    grid-row: 3 / 4;

    margin-bottom: 24px;

    font-size: 16px;
    text-align: center;
  }
}

.tel__link.hero {
  grid-column: 1 / 3;
  grid-row: 3 / 4;

  padding: 0;

  width: 420px;
  height: 100px;

  display: grid;
  grid-template: 100px / 1fr;
  align-items: center;

  font-size: 36px;
  color: var(--bottoms-text);

  background-color: var(--bottoms-bg);
  border: 2px solid var(--bottoms-bg);
  border-radius: 10px;

  transition: all 0.15s linear 0s;
}

@media (max-width: 1480px) {
  .tel__link.hero {
    width: 400px;
    height: 96px;

    grid-template: 96px / 1fr;

    font-size: 32px;

    border-radius: 8px;
  }
}

@media (max-width: 1380px) {
  .tel__link.hero {
    width: 360px;
    height: 92px;

    grid-template: 92px / 1fr;

    font-size: 28px;
  }
}

@media (max-width: 1200px) {
  .tel__link.hero {
    width: 300px;
    height: 84px;

    grid-template: 84px / 1fr;

    font-size: 24px;

    border-radius: 6px;
  }
}

@media (max-width: 1100px) {
  .tel__link.hero {
    width: 280px;
    height: 80px;

    grid-template: 80px / 1fr;

    font-size: 22px;

    border-radius: 4px;
  }
}

@media (max-width: 992px) {
  .tel__link.hero {
    width: 292px;

    font-size: 24px;

    border-radius: 6px;
  }
}

@media (max-width: 900px) {
  .tel__link.hero {
    width: 280px;
    height: 76px;

    grid-template: 76px / 1fr;

    font-size: 22px;

    border-radius: 4px;
  }
}

@media (max-width: 810px) {
  .tel__link.hero {
    width: 256px;
    height: 68px;

    grid-template: 68px / 1fr;

    font-size: 18px;
  }
}

@media (max-width: 768px) {
  .tel__link.hero {
    width: 236px;
    height: 64px;

    grid-template: 64px / 1fr;

    font-size: 18px;
  }
}

@media (max-width: 724px) {
  .tel__link.hero {
    width: 212px;
    height: 58px;

    grid-template: 58px / 1fr;

    font-size: 16px;
  }
}

@media (max-width: 654px) {
  .tel__link.hero {
    width: 200px;
    height: 52px;

    grid-template: 52px / 1fr;

    font-size: 16px;
  }
}

@media (max-width: 585px) {
  .tel__link.hero {
    grid-column: 1 / 2;
    grid-row: 4 / 5;

    width: 304px;
    height: 76px;

    display: grid;
    grid-template: 76px / 1fr;

    font-size: 18px;

    border-radius: 6px;
  }
}

.tel__link.hero:hover,
.tel__link.hero:focus {
  background-color: var(--body-bg);
  color: var(--primary-logo);
  border-color: var(--primary-logo);
}

.tel__link.hero:active {
  color: var(--bottoms-text);
  background-color: var(--secondary-logo);
  border-color: var(--secondary-logo);
}

.hero__girl {
  grid-column: 3 / 4;
  grid-row: 1 / 4;

  position: absolute;
  top: 0;
  right: 0;
  width: 84%;
  height: auto;
}

@media (min-width: 1700px) {
  .hero__girl {
    width: 720px;
    height: 560px;

    right: 5%;
  }
}

@media (max-width: 992px) {
  .hero__girl {
    width: 88%;
  }
}

@media (max-width: 768px) {
  .hero__girl {
    grid-column: 4 / 5;

    width: 100%;
  }
}

@media (max-width: 585px) {
  .hero__girl {
    grid-column: 1 / 2;
    grid-row: 1 / 2;

    margin-bottom: 20px;

    position: static;
    width: 88%;
  }
}

/* -------------------------------------------------------------- */
/* skills */
.skills {
  padding-top: 100px;
  padding-bottom: 80px;
  margin: 0 -16px;
}

@media (max-width: 1280px) {
  .skills {
    padding-top: 72px;
    margin: 0 -8px;
  }
}

@media (max-width: 992px) {
  .skills {
    padding-top: 60px;
    padding-bottom: 52px;
  }
}

@media (max-width: 800px) {
  .skills {
    padding-top: 20px;
    padding-bottom: 40px;
    margin: 0 -6px;
  }
}

@media (max-width: 650px) {
  .skills {
    padding-top: 12px;
    padding-bottom: 32px;
    margin: 0 -12px;
  }
}

.skills__title {
  padding-bottom: 44px;

  font-weight: 600;
  font-size: 48px;

  color: var(--primary-logo);

  text-align: center;
}

@media (max-width: 1280px) {
  .skills__title {
    font-size: 42px;
  }
}

@media (max-width: 992px) {
  .skills__title {
    padding-bottom: 52px;

    font-size: 36px;
  }
}

@media (max-width: 800px) {
  .skills__title {
    padding-bottom: 34px;

    font-size: 30px;
  }
}

.skills__cards {
  display: grid;
  grid-template: 0.63fr 0.37fr/ 1fr 1fr 1fr;
}

@media (max-width: 650px) {
  .skills__cards {
    grid-template: auto auto / 1fr 1fr;
  }
}

@media (max-width: 350px) {
  .skills__cards {
    grid-template: 1fr 1fr 1fr 1fr / 1fr;
  }
}

.skills__card {
  margin: 16px;
  padding: 32px 20px;

  background-color: var(--cards-bg);
  border-radius: 10px;
}

@media (max-width: 992px) {
  .skills__card {
    margin: 8px;
  }
}

@media (max-width: 800px) {
  .skills__card {
    margin: 6px;
    padding: 28px 8px;
    border-radius: 10px;
  }
}

@media (max-width: 650px) {
  .skills__card {
    margin: 12px;
    padding: 20px 8px;
    border-radius: 5px;

    display: grid;
    grid-template: auto auto 1fr 52px / 1fr;
  }
}

.skills__card.first {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
}

.skills__card.second {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.skills__card.third {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
}

.skills__card.fourth {
  grid-column: 2 / 4;
  grid-row: 2 / 3;

  align-items: center;

  display: grid;
  grid-template: auto / 40% 60%;
}

@media (max-width: 650px) {
  .skills__card.first {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  .skills__card.second {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }

  .skills__card.third {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }

  .skills__card.fourth {
    grid-column: 2 / 3;
    grid-row: 2 / 3;

    display: grid;
    grid-template: auto auto 1fr 52px / 1fr;
  }
}

@media (max-width: 350px) {
  .skills__card.first {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  .skills__card.second {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }

  .skills__card.third {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
  }

  .skills__card.fourth {
    grid-column: 1 / 2;
    grid-row: 4 / 5;
  }
}

.card__img {
  margin-bottom: 24px;

  width: 100%;
  height: auto;
}

picture.all {
  grid-column: 1 / 2;
  grid-row: 1 / 2;

  min-width: 300px;
}

.card__img.fourth {
  margin-left: 20%;

  margin-bottom: 0;
  width: 80%;
}

@media (max-width: 992px) {
  .card__img.fourth {
    margin-left: 0;

    width: 100%;
  }
}

@media (max-width: 650px) {
  .card__img.fourth {
    margin-bottom: 24px;
  }
}

@media (max-width: 350px) {
  picture {
    margin: 0 auto;
  }
}

picture.fourth {
  grid-column: 2 / 3;
  grid-row: 1 / 4;
}

@media (max-width: 650px) {
  picture.fourth {
    grid-column: 1 / 2;
    grid-row: 1 / 2;

    min-width: 300px;
  }
}

.card__title {
  grid-column: 1 / 2;
  grid-row: 2 / 3;

  margin-bottom: 20px;

  font-weight: 600;
  font-size: 30px;

  color: var(--secondary-text);
}

.card__title.fourth {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

@media (min-width: 1650px) {
  .card__title {
    font-size: 32px;
  }
}

@media (max-width: 1280px) {
  .card__title {
    margin-bottom: 16px;

    font-size: 24px;
  }
}

@media (max-width: 992px) {
  .card__title {
    margin-bottom: 14px;

    font-size: 20px;
  }
}

@media (max-width: 800px) {
  .card__title {
    margin-bottom: 10px;

    font-size: 18px;
  }
}

@media (max-width: 650px) {
  .card__title {
    margin-bottom: 12px;

    font-size: 16px;
  }

  .card__title.fourth {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }
}

@media (max-width: 350px) {
  .card__title {
    font-size: 20px;
  }
}

.card__text {
  margin-bottom: 32px;

  grid-column: 1 / 2;
  grid-row: 3 / 4;

  font-size: 16px;
}

.card__text.fourth {
  grid-column: 1 / 2;
  grid-row: 2 / 3;

  align-self: flex-start;
}

@media (min-width: 1650px) {
  .card__text {
    font-size: 20px;
  }
}

@media (max-width: 1280px) {
  .card__text {
    margin-bottom: 28px;

    font-size: 14px;
  }
}

@media (max-width: 992px) {
  .card__text {
    margin-bottom: 24px;

    font-size: 13px;
  }
}

@media (max-width: 800px) {
  .card__text {
    margin-bottom: 16px;

    font-size: 12px;
  }
}

@media (max-width: 650px) {
  .card__text {
    margin-bottom: 20px;

    font-size: 13px;
  }

  .card__text.fourth {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
  }
}

@media (max-width: 350px) {
  .card__text {
    font-size: 16px;
  }
}

.card__btn {
  grid-column: 1 / 2;
  grid-row: 4 / 5;

  width: 220px;
  height: 60px;

  padding: 0;

  display: grid;
  grid-template: 60px / 1fr;
  align-items: center;
  align-content: center;
  justify-items: center;

  font-weight: 500;
  font-size: 18px;
  color: var(--bottoms-text);

  background-color: var(--bottoms-bg);
  border: 2px solid var(--bottoms-bg);
  border-radius: 10px;

  transition: all 0.15s linear 0s;
}

.card__btn.fourth {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
}

.card__btn:hover,
.card__btn:focus {
  background-color: var(--body-bg);
  color: var(--primary-logo);
  border-color: var(--primary-logo);
}

.card__btn:active {
  color: var(--bottoms-text);
  background-color: var(--secondary-logo);
  border-color: var(--secondary-logo);
}

@media (max-width: 1280px) {
  .card__btn {
    width: 200px;

    font-size: 16px;
  }
}

@media (max-width: 992px) {
  .card__btn {
    width: 180px;
    height: 52px;

    grid-template: 52px / 1fr;

    font-size: 16px;

    border-radius: 6px;
  }
}

@media (max-width: 800px) {
  .card__btn {
    width: 160px;
    height: 44px;

    grid-template: 44px / 1fr;

    font-size: 13px;
  }
}

@media (max-width: 650px) {
  .card__btn {
    margin: 0 auto;

    grid-column: 1 / 2;
    grid-row: 4 / 5;

    width: 180px;
    height: 44px;

    grid-template: 44px / 1fr;

    font-size: 14px;
  }

  .card__btn.fourth {
    grid-column: 1 / 2;
    grid-row: 4 / 5;
  }
}

@media (max-width: 350px) {
  .card__btn {
    width: 220px;
    height: 52px;

    grid-template: 52px / 1fr;
    font-size: 18px;
  }
}

/* -------------------------------------------------------------- */

/* about */
.about {
  margin: 100px 0 180px;

  display: grid;
  grid-template: 24.5% 45.5% 30% / 48.9% 51.1%;
}

@media (max-width: 992px) {
  .about {
    margin: 52px 0 132px;

    grid-template: 20% 50% 30% / 60% 40%;
  }
}

@media (max-width: 800px) {
  .about {
    margin: 40px 0 100px;

    grid-template: 20% 50% 30% / 50% 50%;
  }
}

@media (max-width: 600px) {
  .about {
    grid-template: 11.5% 58% 18.5% 12% / 1fr;
  }
}

.about__title {
  grid-column: 1 / 2;
  grid-row: 1 / 2;

  font-weight: 600;
  font-size: 48px;

  color: var(--primary-logo);
}

@media (min-width: 1650px) {
  .about__title {
    font-size: 52px;
  }
}

@media (max-width: 1450px) {
  .about__title {
    font-size: 44px;
  }
}

@media (max-width: 1280px) {
  .about__title {
    font-size: 42px;
  }
}

@media (max-width: 992px) {
  .about__title {
    font-size: 36px;
  }
}

@media (max-width: 900px) {
  .about__title {
    font-size: 32px;
  }
}

@media (max-width: 800px) {
  .about__title {
    font-size: 28px;
  }
}

@media (max-width: 700px) {
  .about__title {
    font-size: 28px;
  }
}

@media (max-width: 600px) {
  .about__title {
    font-size: 30px;
    text-align: center;
  }
}

@media (max-width: 350px) {
  .about__title {
    font-size: 38px;
  }
}

.about__text {
  grid-column: 1 / 2;
  grid-row: 2 / 3;

  font-size: 20px;
}

@media (min-width: 1650px) {
  .about__text {
    font-size: 24px;
  }
}

@media (max-width: 1450px) {
  .about__text {
    font-size: 18px;
  }
}

@media (max-width: 1280px) {
  .about__text {
    font-size: 16px;
  }
}

@media (max-width: 1150px) {
  .about__text {
    font-size: 14px;
  }
}

@media (max-width: 992px) {
  .about__text {
    font-size: 15px;
  }
}

@media (max-width: 900px) {
  .about__text {
    font-size: 13px;
  }
}

@media (max-width: 800px) {
  .about__text {
    font-size: 12px;
  }
}

@media (max-width: 700px) {
  .about__text {
    font-size: 11px;
  }
}

@media (max-width: 650px) {
  .about__text {
    font-size: 10px;
  }
}

@media (max-width: 600px) {
  .about__text {
    grid-column: 1 / 2;
    grid-row: 3 / 4;

    font-size: 14px;
    text-align: center;
  }
}

.about__items {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
  align-self: center;
  align-items: center;

  display: grid;
  grid-template: 1fr / repeat(3, 1fr);
}

@media (max-width: 992px) {
  .about__items {
    justify-items: start;

    grid-template: 1fr / 20% 20% 60%;
  }
}

@media (max-width: 800px) {
  .about__items {
    align-self: flex-start;

    grid-template: 1fr / repeat(3, 25%) 1fr;
  }
}

@media (max-width: 750px) {
  .about__items {
    align-self: flex-end;
  }
}

@media (max-width: 600px) {
  .about__items {
    grid-column: 1 / 2;
    grid-row: 4 / 5;

    grid-template: 1fr / 1fr repeat(3, 20%) 1fr;
  }
}

.about__item {
  display: grid;
  grid-template: 1fr 1fr / 1fr;
  justify-items: center;
  align-items: center;

  font-size: 20px;
  text-align: center;
}

.about__item-numbers {
  font-weight: 600;
  font-size: 48px;

  color: var(--numbers);
}

@media (min-width: 1650px) {
  .about__item {
    font-size: 24px;
  }

  .about__item-numbers {
    font-size: 52px;
  }
}

@media (max-width: 1450px) {
  .about__item {
    font-size: 18px;
  }

  .about__item-numbers {
    font-size: 42px;
  }
}

@media (max-width: 1280px) {
  .about__item {
    font-size: 16px;
  }

  .about__item-numbers {
    font-size: 38px;
  }
}

@media (max-width: 1150px) {
  .about__item {
    font-size: 15px;
  }

  .about__item-numbers {
    font-size: 34px;
  }
}

@media (max-width: 992px) {
  .about__item-numbers {
    font-size: 30px;
  }
}

@media (max-width: 900px) {
  .about__item {
    font-size: 13px;
  }

  .about__item-numbers {
    font-size: 26px;
  }
}

@media (max-width: 800px) {
  .about__item {
    font-size: 12px;
  }

  .about__item-numbers {
    font-size: 22px;
  }
}

@media (max-width: 700px) {
  .about__item {
    font-size: 11px;
  }

  .about__item-numbers {
    font-size: 20px;
  }
}

@media (max-width: 600px) {
  .about__item {
    font-size: 14px;
  }

  .about__item-numbers {
    font-size: 24px;
  }

  .about__item.first {
    grid-column: 2 / 3;
  }

  .about__item.second {
    grid-column: 3 / 4;
  }

  .about__item.third {
    grid-column: 4 / 5;
  }
}

@media (max-width: 350px) {
  .about__item {
    font-size: 16px;
  }

  .about__item-numbers {
    font-size: 28px;
  }
}

.about__img {
  grid-column: 2 / 3;
  grid-row: 1 / 4;

  margin-left: 20%;

  width: 80%;
  height: auto;
}

@media (max-width: 992px) {
  .about__img {
    margin-left: 10%;

    width: 90%;
  }
}

@media (max-width: 600px) {
  .about__img {
    grid-column: 1 / 2;
    grid-row: 2 / 3;

    margin: 0 auto;
    height: 94%;
    width: auto;
  }
}

/* -------------------------------------------------------------- */
/* pricing */
.pricing {
  margin-bottom: 180px;
}

@media (max-width: 992px) {
  .pricing {
    margin-bottom: 80px;
  }
}

@media (max-width: 750px) {
  .pricing {
    margin-bottom: 120px;
  }
}

.pricing__title {
  margin-bottom: 60px;

  font-weight: 600;
  font-size: 48px;

  color: var(--primary-logo);
  text-align: center;
}

@media (min-width: 1650px) {
  .pricing__title {
    font-size: 52px;
  }
}

@media (max-width: 1550px) {
  .pricing__title {
    font-size: 44px;
  }
}

@media (max-width: 1400px) {
  .pricing__title {
    font-size: 40px;
  }
}

@media (max-width: 1200px) {
  .pricing__title {
    margin-bottom: 0;

    font-size: 38px;
  }
}

@media (max-width: 992px) {
  .pricing__title {
    margin-bottom: 12px;

    font-size: 36px;
  }
}

@media (max-width: 900px) {
  .pricing__title {
    margin-bottom: 0px;
  }
}

@media (max-width: 850px) {
  .pricing__title {
    font-size: 32px;
  }
}

@media (max-width: 750px) {
  .pricing__title {
    margin-bottom: 60px;

    font-size: 30px;
  }
}

.pricing__items {
  margin: 0 -16px;

  display: grid;
  grid-template: 588px / 33% 33% 33%;
  justify-content: space-between;
}

@media (max-width: 750px) {
  .pricing__items {
    grid-template: 1fr / 1fr;
  }
}

.pricing__item {
  margin: 0 16px;

  display: grid;
  grid-template: 55% 5% 10% 22% 8% / 1fr;
}

@media (max-width: 1200px) {
  .pricing__item {
    grid-template: 60% 8% 24% 8% / 1fr;
  }
}

@media (max-width: 992px) {
  .pricing__item {
    grid-template: minmax(0, 282px) 8% 14% 8% / 1fr;
  }
}

@media (max-width: 750px) {
  .pricing__item {
    grid-template: repeat(4, auto) / 1fr;
  }
}

.pricing__item-img {
  grid-column: 1 / 2;
  grid-row: 1 / 2;

  margin: 0 auto;

  width: auto;
  height: 100%;

  align-self: center;
}

.pricing__item-img.second {
  width: 100%;
  height: auto;
}

@media (max-width: 1200px) {

  .pricing__item-img,
  .pricing__item-img.second {
    width: 100%;
    height: auto;

    align-self: center;
  }
}

@media (max-width: 992px) {
  .pricing__item-img {
    width: 90%;
    margin-bottom: 20px;
  }
}

@media (max-width: 900px) {
  .pricing__item-img {
    margin-bottom: 0;
  }
}

@media (max-width: 750px) {
  .pricing__item-img {
    margin-bottom: 28px;

    width: auto;
    height: 100%;
  }

  .pricing__item-img.second {
    width: 70%;
    height: auto;
  }
}

.pricing__item-title {
  grid-column: 1 / 2;
  grid-row: 3 / 4;

  font-weight: 600;
  font-size: 30px;

  color: var(--secondary-text);
}

@media (min-width: 1650px) {
  .pricing__item-title {
    font-size: 33px;
  }
}

@media (max-width: 1550px) {
  .pricing__item-title {
    font-size: 26px;
  }
}

@media (max-width: 1400px) {
  .pricing__item-title {
    font-size: 22px;
  }
}

@media (max-width: 1200px) {
  .pricing__item-title {
    grid-column: 1 / 2;
    grid-row: 2 / 3;

    font-size: 17px;
  }
}

@media (max-width: 850px) {
  .pricing__item-title {
    font-size: 14px;
  }
}

@media (max-width: 750px) {
  .pricing__item-title {
    margin-bottom: 20px;

    font-size: 24px;
    text-align: center;
  }
}

.pricing__item-text {
  grid-column: 1 / 2;
  grid-row: 4 / 5;

  font-size: 20px;
}

@media (min-width: 1650px) {
  .pricing__item-text {
    font-size: 22px;
  }
}

@media (max-width: 1550px) {
  .pricing__item-text {
    font-size: 18px;
  }
}

@media (max-width: 1400px) {
  .pricing__item-text {
    font-size: 16px;
  }
}

@media (max-width: 1200px) {
  .pricing__item-text {
    grid-column: 1 / 2;
    grid-row: 3 / 4;

    font-size: 13px;
  }
}

@media (max-width: 992px) {
  .pricing__item-text {
    font-size: 12px;
  }
}

@media (max-width: 850px) {
  .pricing__item-text {
    font-size: 11px;
  }
}

@media (max-width: 750px) {
  .pricing__item-text {
    margin-bottom: 28px;

    font-size: 14px;
    text-align: center;
  }
}

.pricing__item-price {
  grid-column: 1 / 2;
  grid-row: 5 / 6;

  display: flex;
  justify-content: space-around;
  align-items: center;

  padding: 0 20px;

  width: 260px;
  height: 44px;

  font-size: 18px;

  color: var(--per-month);
  text-align: center;

  background-color: var(--prices-bg);
  border-radius: 5px;
}

.price__numbers {
  font-size: 24px;

  color: var(--secondary-text);
}

@media (max-width: 1200px) {
  .pricing__item-price {
    grid-column: 1 / 2;
    grid-row: 4 / 5;
    padding: 0 16px;

    width: 220px;
    height: 44px;

    font-size: 16px;
  }

  .price__numbers {
    font-size: 20px;
  }
}

@media (max-width: 992px) {
  .pricing__item-price {
    padding: 0 16px;

    width: 200px;
    height: 44px;
  }
}

@media (max-width: 850px) {
  .pricing__item-price {
    padding: 0 12px;

    width: 192px;
  }
}

@media (max-width: 750px) {
  .pricing__item-price {
    padding: 0 12px;
    margin: 0 auto 72px;

    width: 192px;
  }
}

/* -------------------------------------------------------------- */
/* contact */
.contact {
  margin-bottom: 52px;

  display: grid;
  grid-template: 30% 30% 40% / 42% 58%;
}

.contact__title {
  grid-column: 2 / 3;
  grid-row: 1 / 2;

  font-weight: 600;
  font-size: 48px;

  color: var(--primary-logo);
}

@media (min-width: 1650px) {
  .contact__title {
    font-size: 52px;
  }
}

.contact__img {
  grid-column: 1 / 2;
  grid-row: 1 / 4;

  padding-right: 25%;

  width: 100%;
  height: auto;
}

.contact__text {
  grid-column: 2 / 3;
  grid-row: 2 / 3;

  font-size: 20px;
}

@media (min-width: 1650px) {
  .contact__text {
    font-size: 23px;
  }
}

.contact__form {
  grid-column: 2 / 3;
  grid-row: 3 / 4;

  display: grid;
  grid-template: 72px 1fr / 55% 5% 40%;
}

@media (min-width: 1650px) {
  .contact__form {
    grid-template: 72px 1fr / 50% 15% 35%;
  }
}

.contact__form-text {
  grid-column: 1 / 2;
  grid-row: 1 / 2;

  display: grid;
  grid-template: 1fr / 1fr;
  align-items: center;

  padding-left: 7%;

  font-size: 16px;

  border: 1px solid var(--email-form);
  border-radius: 10px;
}

@media (min-width: 1650px) {
  .contact__form-text {
    font-size: 18px;
  }
}

.contact__form-btn {
  grid-column: 3 / 4;
  grid-row: 1 / 2;

  display: grid;
  grid-template: 1fr / 1fr;
  align-items: center;

  font-weight: 500;
  font-size: 20px;
  color: var(--bottoms-text);

  background-color: var(--bottoms-bg);
  border: 2px solid var(--bottoms-bg);
  border-radius: 10px;

  transition: all 0.15s linear 0s;
}

@media (min-width: 1650px) {
  .contact__form-btn {
    font-size: 23px;
  }
}

.contact__form-btn:hover,
.contact__form-btn:focus {
  background-color: var(--body-bg);
  color: var(--primary-logo);
  border-color: var(--primary-logo);
}

.contact__form-btn:active {
  color: var(--bottoms-text);
  background-color: var(--secondary-logo);
  border-color: var(--secondary-logo);
}

/* -------------------------------------------------------------- */
/* footer */
.footer {
  grid-area: footer;

  display: grid;
  grid-template: 100px / 106px 1fr 60%;
  align-items: center;

  border-top: 1px solid var(--footer-line);
}

@media (max-width: 1280px) {
  .footer {
    grid-template: 90px / 90px 1fr 60%;
  }
}

@media (max-width: 992px) {
  .footer {
    padding-top: 24px;
    grid-template: 44px / 90px 1fr;
  }
}

@media (max-width: 520px) {
  .footer {
    grid-template: 52px 20px / 1fr;
    justify-items: center;
    align-items: center;
  }

  .footer .logo {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
}

.footer .nav {
  grid-template: 1fr / 1fr;
}

@media (max-width: 520px) {
  .footer .nav {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }
}

/* nav bot */
.footer .nav__items {
  grid-template: 20px / repeat(3, auto);
  align-items: center;
}

.nav__link.bottom {
  font-size: 24px;
  letter-spacing: 0.02em;
  color: inherit;
}

@media (max-width: 1440px) {
  .nav__link.bottom {
    font-size: 22px;
  }
}

@media (max-width: 1280px) {
  .nav__link.bottom {
    font-size: 20px;
  }
}

@media (max-width: 1140px) {
  .nav__link.bottom {
    font-size: 18px;
  }
}

@media (max-width: 992px) {
  .footer .nav__items {
    justify-content: end;
  }

  .nav__link.bottom {
    font-size: 16px;
  }

  .nav__link.point::after {
    content: '•';
    display: inline-block;
    margin: 0 2px;
    color: var(--primary-text);
  }
}

@media (max-width: 820px) {
  .nav__link.bottom {
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  .nav__link.bottom {
    font-size: 13px;
  }
}

@media (max-width: 585px) {
  .nav__link.bottom {
    font-size: 12px;
  }
}

@media (max-width: 520px) {
  .nav__link.bottom {
    font-size: 10px;
  }
}

.nav__link.bottom:hover,
.nav__link.bottom:focus {
  color: var(--primary-logo);
}

.nav__link.bottom:active {
  color: var(--secondary-text);
}