/* roots */
:root {
  /* fonts */
  --font-family: 'Poppins', sans-serif;

  /* colors */
  /* logo */
  --primary-logo: #000000;
  --secondary-logo: #939393;

  /* fonts */
  --primary-text: #8F95A5;
  --secondary-text: #263238;
  --bottoms-text: #FFFFFF;
  --text-active: #939393;
  --numbers: #2A3246;
  --per-month: #546269;

  /* backgrounds */
  --body-bg: #FFFFFF;
  --bottoms-bg: #263238;
  --cards-bg: #F5F5F5;
  --prices-bg: #EEEEEE;

  /* other */
  --email-form: #8F95A5;
  --footer-line: #C4C4C4;
  --burger-line: #39515E;
}

/* -------------------------------------------------------------- */
/* main styles */
html {
  scroll-behavior: smooth;
}

.wrapper {
  padding: calc(0.03375 * 100vw) 8.188%;

  width: 100%;

  font-family: var(--font-family);
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 0.03em;

  color: var(--primary-text);
  background-color: var(--body-bg);

  display: grid;
  min-height: 100vh;
  grid-template: 70px 1fr 100px / 1fr;
  grid-template-areas:
    "header"
    "main"
    "footer";
}

@media (max-width: 1280px) {
  .wrapper {
    padding: calc(0.02822 * 100vw) 3.226%;

    grid-template: 50px 1fr 72px / 1fr;
    grid-template-areas:
      "header"
      "main"
      "footer";
  }
}

/* -------------------------------------------------------------- */
/* header */
.header {
  grid-area: header;

  display: grid;
  grid-template: 70px / 106px minmax(17.638%, auto) 42.078% minmax(9.043%, auto) minmax(160px, 312px);
  align-items: center;
}

@media (max-width: 1280px) {
  .header {
    grid-template: 50px / 90px minmax(17.638%, auto) 42.078% minmax(9.043%, auto) minmax(160px, 312px);
  }
}

/* logo  */
.logo {
  grid-column: 1 / 2;

  font-size: 36px;
  color: var(--primary-logo);
}

@media (max-width: 1280px) {
  .logo {
    font-size: 30px;
  }
}

/* @media (max-width: 320px) {
  .logo {
    font-size: 24px;
  }
} */

.secondary {
  color: var(--secondary-logo);
}

/* nav top */
.nav {
  grid-column: 3 / 4;
}

@media (max-width: 1280px) {
  .nav {
    min-width: 372px;
  }
}

/* menu */
.nav__items {
  display: grid;
  grid-template: 1fr / repeat(5, auto);
  justify-content: space-between;
}

.nav__link {
  font-weight: 500;
  color: var(--secondary-text);

  transition: all 0.15s linear 0s;
}

@media (max-width: 1280px) {
  .nav__link {
    font-size: 16px;
  }
}

.nav__link:hover,
.nav__link:focus {
  color: var(--secondary-logo);
}

.nav__link:active {
  color: var(--secondary-text);
}

/* tel */
.tel__link {
  grid-column: 5 / 6;

  width: 100%;
  height: 100%;

  display: grid;
  grid-template: 1fr / 1fr;
  align-items: center;

  text-align: center;
  color: var(--primary-logo);

  border: 2px solid var(--bottoms-bg);
  border-radius: 10px;

  transition: all 0.15s linear 0s;
}

@media (max-width: 1280px) {
  .tel__link {
    font-size: 18px;
    border-radius: 5px;
  }
}

.tel__link:hover,
.tel__link:focus {
  background-color: var(--bottoms-bg);
  color: var(--bottoms-text);
}

.tel__link:active {
  background-color: var(--secondary-logo);
  border-color: var(--secondary-logo);
}

/* burger */
.burger {
  display: none;
}

@media (max-width: 992px) {
  /* body.lock {
    overflow: hidden;
  } */

  .header .nav__items,
  .tel__link {
    display: none;
  }

  .header {
    grid-template: 50px / 90px 1fr;
  }

  .header .nav {
    grid-column: 2 / 3;

    display: grid;
    grid-template: 1fr / 1fr;
    justify-items: end;
  }

  .burger {
    display: flex;
    align-items: center;

    position: relative;
    width: 30px;
    height: 19px;
    z-index: 100;

    cursor: pointer;
  }

  .burger::before,
  .burger::after {
    content: '';
    left: 0;
    position: absolute;

    height: 3px;

    background-color: var(--burger-line);
    border-radius: 1px;

    transition: all 0.15s linear 0s;
  }

  .burger::before {
    top: 0;
    width: 100%;
  }

  .burger::after {
    bottom: 0;
    width: 70%;
  }

  .burger__line {
    position: absolute;
    left: 0;

    width: 100%;
    height: 3px;

    background-color: var(--burger-line);
    border-radius: 1px;

    transition: all 0.15s linear 0s;
  }

  .burger__line.active {
    background-color: red;
  }

  /* .header .nav__items.active {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(35, 35, 35);

    transition: all 0.3s ease 0s;
    z-index: 40;

    overflow: auto;
  }

  .header .nav__links.active {
    top: 0;
  }

  .burger.active::before {
    transform: rotate(45deg);
    top: 0;
  }

  .burger.active::after {
    transform: rotate(-45deg);
    bottom: 0;
  }

  .burger.active {
    transform: scale(0);
  }

  .position {
    padding: 0 0 12px;
    text-align: center;
    width: 200px;
    margin: 8px 0;
    border-bottom: 2px solid white;
  }

  .nav__link {
    font-size: 1.2em;
  } */
}

/* -------------------------------------------------------------- */
/* content */
.main {
  grid-area: main;

  height: 1000px;
}

/* hero */

/* skills */

/* about */

/* cricing */

/* contact */

/* -------------------------------------------------------------- */
/* footer */
.footer {
  grid-area: footer;

  display: grid;
  grid-template: 100px / 106px 1fr 57.4%;
  align-items: center;

  border-top: 1px solid var(--footer-line);
}

@media (max-width: 1280px) {
  .footer {
    grid-template: 72px / 90px 1fr 57.4%;
  }
}

/* nav bot */
.footer .nav__items {
  grid-template: 1fr / repeat(3, auto);
}

.nav__link.bottom {
  font-size: 24px;
  letter-spacing: 0.02em;
  color: inherit;
}

@media (max-width: 1400px) {
  .nav__link.bottom {
    font-size: 20px;
  }
}

@media (max-width: 1100px) {
  .nav__link.bottom {
    font-size: 16px;
  }
}

/* @media (max-width: 992px) {
  .footer .nav__items {
    justify-content: end;
  }

  .nav__link.bottom {
    font-size: 16px;
  }

  .nav__link.point::after {
    content: '•';
  }
} */

/* @media (max-width: 768px) {
  .nav__link.bottom {
    font-size: 13px;
  }
}

@media (max-width: 575px) {
  .nav__link.bottom {
    font-size: 12px;
  }
}

@media (max-width: 320px) {
  .nav__link.bottom {
    font-size: 11px;
  }
} */

.nav__link.bottom:hover,
.nav__link.bottom:focus {
  color: var(--primary-logo);
}

.nav__link.bottom:active {
  color: var(--secondary-text);
}