@import url("https://fonts.googleapis.com/css2?family=Comfortaa&family=Montserrat:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

ol,
ul,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

a,
a:visited,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  outline: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.full .footer__top .nav__items .link, .wrapper {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.667;
  letter-spacing: -0.015em;
  color: rgba(0, 0, 0, 0.8);
}

.with-form .signup__title, .testimonials__title, .body__header, .subhero__half-bg .text, .subhero__full-bg .subhero__title, .subhero .text, .subhero-reverse .text, .hero__title, .full .footer__top .nav__items, .footer .link, .form__title, .with-card .text-box__title, .hero-form .form__title, .item__title {
  font-size: 48px;
  line-height: 1.5;
  color: #000000;
}

.full .footer__top .nav__items, .footer .link, .form__title, .with-card .text-box__title, .hero-form .form__title, .item__title {
  font-weight: 700;
  font-size: 24px;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 140px;
}
.logo__icon {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 24px;
          flex: 0 0 24px;
  margin-right: 8px;
}
.logo__text {
  font-family: "Comfortaa", cursive;
  font-size: 28px;
  line-height: 1.1428571429;
  color: #000000;
  -webkit-transition: all 0.1s ease-in;
  -o-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
}
.logo__text:hover, .logo__text:focus {
  color: #a1a1a1;
}

.nav__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.nav__item {
  font-weight: 500;
  font-size: 15px;
  line-height: 1.2;
}

.link {
  -webkit-transition: all 0.1s ease-in;
  -o-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
}

.item__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #18a0fb;
  background-color: #ffffff;
  border: 1px solid #18a0fb;
  border-radius: 6px;
  -webkit-transition: all 0.1s ease-in;
  -o-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
}
.btn:hover, .btn:focus {
  color: #ffffff;
  background-color: #18a0fb;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  background-color: #ffffff;
}

html {
  scroll-behavior: smooth;
}

.content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.air {
  width: 100%;
  height: 60px;
  border-top: 1px solid #a1a1a1;
  border-bottom: 1px solid #a1a1a1;
}

.header {
  margin: 0 4.7619047619%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  min-height: 60px;
}
.header__logo {
  width: 12.7631578947%;
}
.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 87.2368421053%;
}
.header .nav__items {
  width: 29.2168674699%;
  min-width: 360px;
}
.header .nav__items:nth-last-child(1) {
  width: 20.4819277108%;
  min-width: 160px;
}
.header .nav__items:nth-last-child(1) .nav__item {
  width: 47.7941176471%;
}
.header .btn {
  height: 40px;
}
.header .link {
  color: #18a0fb;
}
.header .link:hover,
.header .link:focus {
  color: rgba(0, 0, 0, 0.8);
}

.header.first .nav__items,
.header.second .nav__items {
  margin: 0 auto;
}
.header.first .nav__items:nth-last-child(1),
.header.second .nav__items:nth-last-child(1) {
  margin: 0;
  padding: 0;
  width: 9.7891566265%;
  min-width: 80px;
}
.header.first .nav__items:nth-last-child(1) .nav__item,
.header.second .nav__items:nth-last-child(1) .nav__item {
  width: 100%;
}
.header.first .nav__items:nth-last-child(1) .nav__item:nth-last-child(2),
.header.second .nav__items:nth-last-child(1) .nav__item:nth-last-child(2) {
  display: none;
}

.header.second .nav__items {
  margin: 0;
  margin-left: auto;
  padding-right: 3.0120481928%;
}

.header.third .nav {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.header.third .nav__items:nth-last-child(1) {
  display: none;
}

.hero, .hero5, .hero4 {
  padding: 0 4.7619047619%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
  height: auto;
  background-image: url("/image/hero/hero-full-horizontal-video.svg");
  background-position: center;
  background-size: cover;
}
.hero__title {
  margin-top: 41.5789473684%;
  margin-bottom: 2.6315789474%;
  font-size: 56px;
  text-align: center;
}
.hero__btn {
  margin-bottom: 8.4210526316%;
  width: 192px;
  height: 52px;
  font-size: 18px;
}

.hero1, .hero2 {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.hero1 .hero1__box, .hero2 .hero1__box,
.hero1 .hero1__bg,
.hero2 .hero1__bg {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
}
.hero1 .hero1__box, .hero2 .hero1__box {
  padding: 21.0714285714% 4.7619047619%;
}
.hero1 .hero1__bg, .hero2 .hero1__bg {
  background: url("/image/hero/hero-half-vertical.svg") center/cover no-repeat;
}
.hero1 .hero__title, .hero2 .hero__title,
.hero1 .hero__btn,
.hero2 .hero__btn {
  margin: 0;
}
.hero1 .hero__title, .hero2 .hero__title {
  margin-bottom: 4.7619047619%;
  text-align: start;
}

.hero2 {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.hero3 {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.hero3 .hero1__box {
  padding: 9.6428571429% 8.5714285714%;
}
.hero3 .hero1__bg {
  height: 380px;
  background: url("/image/hero/hero-half-horizontal.svg") center/cover no-repeat;
}
.hero3 .hero__title,
.hero3 .hero__btn {
  margin: 0;
}
.hero3 .hero__title {
  margin-bottom: 2.8735632184%;
  max-width: 688px;
  text-align: start;
}

.hero4 {
  padding: 21.0714285714% 8.5714285714%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  background: url("/image/hero/hero-full-horizontal.svg") center/cover no-repeat;
}
.hero4 .hero__title,
.hero4 .hero__btn {
  margin: 0;
}
.hero4 .hero__title {
  margin-bottom: 2.380952381%;
  max-width: 688px;
  text-align: start;
}

.hero5 {
  padding: 21.0714285714% 8.5714285714%;
  padding-bottom: 5%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  background: url("/image/hero/hero-full-horizontal.svg") center/cover no-repeat;
}
.hero5 .hero__title,
.hero5 .hero__btn {
  margin: 0;
}
.hero5 .hero__title {
  margin-bottom: 2.380952381%;
  max-width: 688px;
  text-align: start;
}
.hero5 .hero__btn {
  margin-bottom: 4.3103448276%;
}

.hero-form {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.hero-form .hero__text,
.hero-form .hero__container {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
}
.hero-form .hero__text {
  padding: 23.8095238095% 4.7619047619%;
}
.hero-form .hero__title,
.hero-form .hero__btn {
  margin: 0;
}
.hero-form .hero__title {
  text-align: start;
}
.hero-form .hero__container {
  padding: 15.4761904762% 8.5714285714%;
  padding-left: 3.8095238095%;
}
.hero-form .form {
  padding: 10.1265822785%;
  border: 1px solid rgba(0, 0, 0, 0.5);
}
.hero-form .form__email,
.hero-form .form__password {
  display: block;
  width: 100%;
}
.hero-form .form__first-name,
.hero-form .form__last-name {
  display: inline;
  width: 47.0119521912%;
}
.hero-form .form__last-name {
  float: right;
}
.hero-form .form__email,
.hero-form .form__password,
.hero-form .form__first-name,
.hero-form .form__last-name {
  padding: 8px 14px;
  margin-bottom: 4.780876494%;
  font-size: 15px;
  border: 1px solid rgba(0, 0, 0, 0.5);
}
.hero-form .form__email:focus,
.hero-form .form__password:focus,
.hero-form .form__first-name:focus,
.hero-form .form__last-name:focus {
  border: 1px solid #18a0fb;
}
.hero-form .form__title {
  margin-bottom: 7.96812749%;
}
.hero-form .hero__btn {
  width: 130px;
  height: 40px;
}

.subhero, .subhero-reverse {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.subhero__title, .subhero__img {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  padding: 4.7619047619%;
}
.subhero__title {
  padding-right: 2.380952381%;
}
.subhero__img {
  padding-left: 2.380952381%;
}
.subhero .img, .subhero-reverse .img {
  width: 100%;
}

.subhero-reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
.subhero-reverse .subhero__title,
.subhero-reverse .subhero__img {
  padding: 4.7619047619%;
}
.subhero-reverse .subhero__title {
  padding-left: 2.380952381%;
}
.subhero-reverse .subhero__img {
  padding-right: 2.380952381%;
}

.subhero__full-bg {
  padding-left: 4.7619047619%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 27.5%;
  background-image: url("/image/subhero/subhero-full.svg");
  background-position: center;
  background-size: cover;
}
.subhero__full-bg .subhero__title {
  padding: 0;
  max-width: 688px;
}

.subhero__half-bg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.subhero__half-bg .subhero__title {
  padding: 5.9523809524% 4.7619047619%;
}
.subhero__half-bg .text {
  max-width: 688px;
}
.subhero__half-bg .subhero__bg {
  padding-top: 26.1904761905%;
  width: 100%;
  background-image: url("/image/subhero/subhero-half-horizontal.svg");
  background-position: center;
  background-size: cover;
}

.body {
  margin-top: 7.8571428571%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.body__header {
  padding-left: 4.7619047619%;
  padding-bottom: 1.7857142857%;
  max-width: 750px;
}
.body__top {
  padding: 0 4.7619047619%;
  margin-bottom: 6.4285714286%;
}
.body .item__title {
  margin-bottom: 24px;
}
.body .item__img {
  width: 50%;
  height: auto;
}

.top__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.top__item {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  margin: 1.9736842105% 0;
  padding-bottom: 40px;
  min-width: 400px;
}
.top .item__text {
  padding: 0 60px 32px 0;
}
.top .btn {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 130px;
  height: 40px;
}

.bot__item {
  padding: 5.2631578947%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.bot__item .item__wrap {
  margin-left: 5.3191489362%;
}
.bot__item:nth-child(even) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  background-color: #f5f5f5;
}
.bot__item:nth-child(even) .item__wrap {
  margin-left: 0;
  margin-right: 5.3191489362%;
}

.testimonials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 7.1428571429% 4.7619047619% 4.7619047619%;
  text-align: center;
}
.testimonials__title, .testimonials__text {
  margin-bottom: 2.1052631579%;
  max-width: 1400px;
}
.testimonials__text {
  font-size: 36px;
  line-height: 1.39;
}
.testimonials__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 0 60px;
  max-width: 1180px;
}
.testimonials__item {
  margin: 40px;
}

.one-line {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
  max-width: 1520px;
}

.testimonials__img {
  margin-top: 0.5263157895%;
  margin-bottom: 1.0526315789%;
}

.testimonials__bottom {
  margin-bottom: 2.6315789474%;
}

.rectangle-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 0;
  text-align: start;
}
.rectangle-right .testimonials__box {
  width: 69.7619047619%;
  padding: 0% 4.7619047619%;
}
.rectangle-right .testimonials__bg {
  padding: 13.9285714286% 15.119047619%;
  background-image: url("/image/testimonials/testimonials-quarter.svg");
  background-position: center;
  background-size: cover;
}
.rectangle-right .testimonials__text {
  margin-bottom: 3.95256917%;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.rectangle-right .testimonials__img {
  margin: 0 20px 4.347826087% 0;
}
.rectangle-right .testimonials__bottom {
  margin: 0;
  margin-top: 6px;
  display: inline-block;
}

.with-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 0;
  text-align: start;
}
.with-card .content__box,
.with-card .card__box {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  margin: 7.1428571429% 4.7619047619%;
}
.with-card .content__box {
  margin-right: 0.5952380952%;
}
.with-card .card__box {
  margin-left: 4.7619047619%;
  border: 1px solid rgba(0, 0, 0, 0.5);
}
.with-card .testimonials__title {
  margin-bottom: 3.7333333333%;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.with-card .testimonials__text {
  margin-bottom: 5.3333333333%;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.with-card .testimonials__items {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 0;
}
.with-card .testimonials__item {
  margin: 30px;
}
.with-card .card-bg {
  padding: 29.4117647059% 50%;
  background-image: url("/image/testimonials/testimonials-half.svg");
  background-position: center;
  background-size: cover;
}
.with-card .text-box {
  padding: 9.4444444444% 8.8888888889%;
}
.with-card .text-box__title {
  margin-bottom: 4.0955631399%;
}

.signup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 7.1428571429% 4.7619047619%;
  background-color: #f5f5f5;
}
.signup__title {
  width: 62.1052631579%;
  font-size: 36px;
}
.signup__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 37.8947368421%;
}
.signup__item {
  width: 33.3333333333%;
}
.signup .btn {
  width: 100%;
  min-width: 120px;
  height: 52px;
}

.with-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 7.1428571429% 8.5714285714%;
}
.with-form .signup__title {
  margin-bottom: 2.0114942529%;
  text-align: center;
}
.with-form .signup__text {
  margin-bottom: 5.7471264368%;
  font-size: 36px;
  line-height: 1.39;
  text-align: center;
}

.form {
  width: 44.683908046%;
  height: auto;
  padding: 4.5977011494%;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.5);
}
.form .form__email,
.form .form__password {
  display: block;
  width: 100%;
}
.form .form__first-name,
.form .form__last-name {
  display: inline;
  width: 47.0119521912%;
}
.form .form__last-name {
  float: right;
}
.form .form__email,
.form .form__password,
.form .form__first-name,
.form .form__last-name {
  padding: 8px 14px;
  margin-bottom: 4.780876494%;
  font-size: 15px;
  border: 1px solid rgba(0, 0, 0, 0.5);
}
.form .form__email:focus,
.form .form__password:focus,
.form .form__first-name:focus,
.form .form__last-name:focus {
  border: 1px solid #18a0fb;
}
.form .form__btn {
  width: 130px;
  height: 40px;
}

.form__title {
  margin-bottom: 7.96812749%;
}

.one-btn {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.one-btn .contact-us {
  display: none;
}

.footer {
  padding: 7.1428571429% 4.7619047619%;
}
.footer__nav .nav__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 31.5789473684%;
  max-width: 480px;
}
.footer__logo {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.footer .link {
  font-size: 15px;
  line-height: 1.6;
}
.footer .link:hover, .footer .link:focus {
  color: #18a0fb;
}

.nav__other {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 3.1578947368%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

.nav__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 4.7368421053%;
}
.nav__social .nav__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 260px;
  height: 54px;
}
.nav__social .nav__item {
  width: 54px;
  height: 54px;
}
.nav__social .link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 54px;
  height: 54px;
  background-color: #ffffff;
  border-radius: 27px;
  -webkit-border-radius: 27px;
  -moz-border-radius: 27px;
  -ms-border-radius: 27px;
  -o-border-radius: 27px;
}
.nav__social .link:hover,
.nav__social .link:focus {
  background-color: #18a0fb;
}
.nav__social .nav__text {
  margin-top: 2.1052631579%;
  font-size: 15px;
}

.line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.line .nav__items {
  max-width: 464px;
}
.line .nav__text {
  font-size: 15px;
  line-height: 1.5;
}

.full .footer__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 3.9473684211%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}
.full .footer__top .logo {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.full .footer__top .nav__other {
  padding: 0;
  width: 49.4736842105%;
  border-bottom: none;
}
.full .footer__top .nav__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  font-size: 15px;
  line-height: 1.6;
}
.full .footer__top .nav__items li:nth-child(1) {
  margin-top: 16px;
}
.full .footer__top .nav__items .link {
  font-size: 15px;
  line-height: 1.6;
}
.full .footer__top .nav__items .link:hover, .full .footer__top .nav__items .link:focus {
  color: #000000;
}
.full .footer__top .nav__items:nth-last-child(1) {
  width: 19.8%;
}
.full .footer__top .nav__items:nth-last-child(1) .nav__item {
  margin-top: 0;
  margin-bottom: 16px;
  width: 100%;
}
.full .footer__top .nav__items:nth-last-child(1) .nav__item:nth-last-child(1) {
  margin-bottom: 0;
}
.full .footer__top .nav__items:nth-last-child(1) .btn {
  height: 40px;
}
.full .footer__bot {
  margin-top: 2.6315789474%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.full .footer__bot .nav__text {
  -ms-flex-item-align: center;
      align-self: center;
  font-size: 15px;
  line-height: 1.5;
}
.full .footer__bot .nav__social {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.full .footer__bot .nav__social .nav__text {
  margin: 0;
  margin-right: 20px;
}
.full .footer__bot .nav__social .nav__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 240px;
  height: 44px;
}