// color palette
$primaryWhite: #ffffff;
$secondaryWhite: #f5f5f5;
$primaryBlack: #000000;
$secondaryBlack: rgba(0, 0, 0, 0.8);
$thirdlyBlack: rgba(0, 0, 0, 0.5);
$liteBlue: #18a0fb;
$gray: #a1a1a1;

// site colors
// bgs colors
$primaryBg: $primaryWhite;
$secondaryBg: $secondaryWhite;

// fonts colors
$titleCol: $primaryBlack;
$textCol: $secondaryBlack;

// btns colors
$btnText: $liteBlue;
$btnBg: $primaryWhite;
$btnBorder: $liteBlue;
$btnTextActive: $primaryWhite;
$btnBgActive: $liteBlue;

// logo colors
$logo: $primaryBlack;
$logoActive: $gray;

// links colors
$headerLink: $liteBlue;
$headerLinkActive: $secondaryBlack;
$footerLink: $primaryBlack;
$footerLinkActive: $liteBlue;

// lines colors
$lineCol: $thirdlyBlack;

// form colors
$formTextActive: $liteBlue;
$formLineActive: $liteBlue;
