// color palette
$primaryWhite: #ffffff;
$secondaryWhite: #ffffff;
$primaryBlack: #000000;
$secondaryBlack: rgba(0, 0, 0, 0.8);
$thirdlyBlack: rgba(0, 0, 0, 0.5);
$liteBlue: #18a0fb;
$gray: #a1a1a1;

// site colors
// backgrounds
$firstPageBg: #ffffff;
$secondPageBg: #f5f5f5;
$btnBg: #ffffff;
$btnBgHoverFocus: #18a0fb;
// fonts
$titleCol: #000000;
$textCol: rgba(0, 0, 0, 0.8);
$btnTextCol: #18a0fb;
$btnTextHoverFocusCol: #ffffff;
$headerLinkCol: #18a0fb;
// lines
$lineCol: rgba(0, 0, 0, 0.5);
